
.Details {
    display: flex;
}

.TitleDetails {
    display: block;
}

.imageDetails {
}

.dietsDetails {
    
}

.scoreDetails {
    
}

.healthscore {
    
}

.Summary {
    display: block;
}

.stepsDetails {
    display: block;
}