
nav {
    display: flex;
    justify-content: space-between;
    height: 3em;
    background-color: darkslategray;
}

.links {
    font-size: 33px;
    color: aliceblue;
    margin-top: 4px;
    padding: 0 5px;
    font-weight: 700;
}

