body {
  background: url("./Background-home.jpg") no-repeat fixed;
}

.home__cards__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  margin-bottom: 1em;
}

.home__reset {
  display: flex;
  justify-content: center;
  padding: 1em;
  background-color: rgb(255, 91, 91);
  border-radius: 1em;
  color: #000;
  border: none;
  margin: auto;
  margin-top: 0.5em;
  cursor: pointer;
}

.home__card {
  margin: 1em;
  width: 21em;
  height: 22em;
}

.home__header__container {
  position: absolute;
  width: 40%;
  top: 0.8rem;
  left: 35%;
}

.home__select {
  padding: 0.25rem 0.5rem;
  margin: auto 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
