.card {
    margin: 1em;
    display:flex;
    background-color: aliceblue;
    padding: .6em;
    border-radius: 1em;
    color: brown;
}

.dietas {
    display: inline-flex;
    align-self: center;
}

.title {
    margin-right: 5px;
    align-self: center;
}

.score {
    margin-left: 2px;
    display: inline-flex;
    justify-content: center;
}