.SearchContainer {
    position: absolute;
    margin-left: 10%;
    margin-top: 4px;
    padding: 5px;
}

 .SearchContainer input{
    width: 15em;
    height: 2em;
    padding: 0 1em;
    font-size: 1em;
    color: #000;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
    transition: all .6s ease;
}

.btn{
    position: absolute;
    top: 1px;
    right: 0;
    background: lightgreen;
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    color: white;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
}